*,
::before,
::after {
  box-sizing: border-box;
}
body {
  font-family: "Inter";
  font-family: "Zen Kaku Gothic Antique";
}

/* header start */
header {
  position: relative;
  z-index: 1;
  background: #ffffff;
  box-shadow: 0px -2px 24px rgba(0, 0, 0, 0.85);
}

.header__wrapper {
  max-height: 96px;
  max-width: 1408px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__logo{
  display: inline-block;
}
.header__logo img {
  height: 40px;
}
.header__menu-item {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

.header__menu ul {
  display: flex;
  flex-wrap: wrap;
}
.header__menu li:not(:last-child) {
  margin-right: 32px;
}
.header__btns {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 500;
}
.header__button {
  margin-right: 19px;
  padding: 16px 24px;
  gap: 10px;
  border: 1px solid #2a6355;
  border-radius: 8px;
}
.header__button.active_btn {
  margin-right: 0;
  border: 1px solid #f38173;
}
.header__btns a {
  color: black;
  text-decoration: none;
}

/* header end */

/* intro start */

.intro__wrapper {
  max-width: 1408px;
  min-height: 681px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
}
.intro__block {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  max-width: 688px;
  background-color: #2a6355;
  padding: 48px 70px 57px 70px;
}

.intro__header {
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  color: #f9f9f9;
}
.intro__text {
  font-family: "Inter", sans-serif;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #f9f9f9;
  margin-bottom: 40px;
}
.intro_button {
  min-height: 48px;
  padding: 13px 19px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  gap: 10px;
  border-radius: 8px;
  color: #ffffff;
  background: #f38173;
}
.assist__wrapper {
  max-width: 1408px;
  min-height: 735px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.assist__pic {
  margin-right: 73px;
}
.assist__block {
  font-family: "Zen Kaku Gothic Antique";
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 52px;
}

.assist__header {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  max-width: 450px;
  line-height: 112%;
}
.assist__list {
  font-family: "Inter";
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.assist__item {
  list-style-image: url(../img/assist_marker.svg);
  list-style-position: inside;
  margin-bottom: 24px;
}
.assist__item:last-child {
  margin-bottom: 0;
}

.assist__items {
  margin-bottom: 6px;
}

.assist_btn {
  display: block;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  padding: 17px 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  gap: 10px;
  border-radius: 8px;
  color: #ffffff;
  background: #f38173;
}
/* intro end */

/* clients start */

.clients__wrapper{
  max-width: 1408px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.clients__top{
  max-height: 228px;
  background: #2A6355;
  padding: 40px 480px 0 120px;
}

.clients__top-header{  
  margin-bottom: 24px;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #fff;
}
.clients__top-text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 64px;
}

.clients__bottom{
  padding: 40px 170px 0 120px;
  max-height: 228px;  
  background: #E1EFEC;
}

.clients__bottom-text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #3F3F3F;
}
.clients__bottom_block{
  display: flex;
}

.clients__card {
  padding: 24px;
}






/* clients end */